body {
    visibility: hidden;
    animation: fadeIn 1.5s ease forwards;
  }
  
  @keyframes fadeIn {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }