.nav {
    width: 80px;
    height: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;

    right: -90px;

    padding: 40px 40px;

    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;

    z-index: 1000;
}

.nav div {
    margin: 60px auto;
    height: 60px;
}

.nav-toggle {
    position: absolute;
    right: 110px;
    top: 10px;
    padding: 0.5em;

    color: rgb(26, 26, 26);
    cursor: pointer;
    z-index: 2000;

    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

.nav-toggle:hover {
    color: rgb(90, 90, 90);
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked ~ .nav {
    right: 0;
    box-shadow:5px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ .nav .nav-toggle:after {
    content: '\2716';
}

.nav div {
    display: block;
    padding-left: 25px;
    list-style: none;
}

.nav div {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(90px);
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    transform: translateX(90px);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > div {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


/* интервалы появления меню */

.nav div:nth-child(2) {
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

.nav div:nth-child(3) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav div:nth-child(4) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav div:nth-child(5) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav div:nth-child(6) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav div:nth-child(7) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav div:nth-child(8) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}

.img {
    height: 60px;
    width: 60px;
    padding-left: 5px;
    opacity: 0.4;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img:hover, .alreadyHere{
    cursor: pointer;
    opacity: 1;
    padding: 0px;
    height: 70px;
    width: 70px;
}