html {
    padding: 16px;
    background-color: #f9f6ee;
   /* background-color: #00ff22;*/
}
#buttons {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    min-width:max-content;
}

button {
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: #efeee8;
    border-color: #f9f6ee;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

#settings {
    width:300px;
    display: inline-block;
    position: relative;
    float:left;
    top: 100px;
}

#canvasDiv{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

canvas {
    border-radius: 10px;
    background-color: #ceccc6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#vertex {
    background-color: black;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 100%;
    display: inline-block;
}

#input, #population, #childs, #mutation {
    margin-top: 16px;
}

#inputRange, #populationRange, #childsRange, #mutationRange {
    width: 200px;
}

#counter, #populationCounter, #childsCounter, #mutationCounter {
    width: 60px;
    float:right;
}

#rangeLabel {
    width: 316px;
    top: 0px;
    float: left
}