body {
    padding: 16px;
    background-color: #f9f6ee;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    min-width:max-content;
}

#wholeContent {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    min-width: 900px;
    justify-content: center;
}

button{
    cursor: pointer;
    height: 40px;
    width: 250px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;

    margin: 10px 10px;
    padding: auto;
    background: #000000;
    color: #ebf5f4;

    box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
    display: block;
    border: 0px solid #47341c;
    border-radius: 17px;
    
    transition: opacity .3s;
}

button:disabled, button:hover {
    opacity: 0.5;
}

#settings {
    width:320px;
    height:465px;
    border-radius: 10px;
    padding: 16px;
    margin: 20px;
    background-color: #efeee8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#canvasDiv{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

canvas {
    border-radius: 10px;
    background-color: #ceccc6;
    display: block;
    margin: 10px auto;
    width: 800px;
}

#vertex {
    background-color: black;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 100%;
    display: inline-block;
}

#input, #population, #childs, #mutation, #fullGraphBox {
    border-radius: 10px;
    background-color: #e3e2dd;
    padding: 10px;
    margin: 15px;
}

#inputRange, #populationRange, #childsRange, #mutationRange {
    -webkit-appearance: none;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 7px;
    width: 200px;
}

#inputRange{
    background-size: 100% 100%;
}

#populationRange, #childsRange {
    background-size: 100% 100%;
}

#mutationRange {
    background-size: 70% 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
 }
  
#counter, #populationCounter, #childsCounter, #mutationCounter {
    width: 60px;
    float:right;
}

#rangeLabel {
    width: 316px;
    top: 0px;
    float: left
}