html {
    padding: 16px;
    background-color: #f9f6ee;
}

#buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    min-width:max-content;
}

#wholeContent {
    overflow: auto;
    padding: 16px;
    top:0;
    position: absolute;
    min-width: 1400px;
}

button {
    font-family: sans-serif;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: #efeee8;
    border-color: #f9f6ee;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

#settings {
    width:320px;
    height:470px;
    display: inline-block;
    position: relative;
    float:left;
    top: 80px;
    border: 2px outset #efeee8;
    border-radius: 10px;
    padding: 16px;
    background-color: #efeee8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#fullGraphLabel {
    font-family: sans-serif;
}

#canvasDiv{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

canvas {
    border-radius: 10px;
    background-color: #ceccc6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#vertex {
    background-color: black;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 100%;
    display: inline-block;
}

#input, #population, #childs, #mutation {
    border-radius: 10px;
    background-color: #e3e2dd;
    padding: 10px;
    margin-top: 16px;
    font-family: sans-serif;
}

#inputRange, #populationRange, #childsRange, #mutationRange {
    -webkit-appearance: none;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 7px;
    width: 200px;
}

#inputRange{
    background-size: 0% 100%;
}

#populationRange, #childsRange {
    background-size: 100% 100%;
}

#mutationRange {
    background-size: 70% 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
#counter, #populationCounter, #childsCounter, #mutationCounter {
    width: 60px;
    float:right;
}

#rangeLabel {
    width: 316px;
    top: 0px;
    float: left
}