body {
    padding: 16px;
    background: #babad3e0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin: 15px;
}

.proLink {
    white-space: nowrap;
    text-decoration: none;
    text-align: top;
    height: 30px;
    width: 200px;
    margin: 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: rgb(3, 1, 8);
}

#buttons {
    display: flex;
    margin: 15px;
    max-width: 100px;
    /* height: 80px; */
    min-width:max-content;
    background-color: #8399b6;
    border: 2px solid #0d1c2256;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(9, 88, 94, 0.5); 
}

#wholeContent {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    min-width: 900px;
    justify-content: center;
}

button{
    cursor: pointer;
    height: 40px;
    width: 250px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;

    margin: 10px 10px;
    padding: auto;
    background: #264d59e8;
    color: #ebf5f4;

    /* box-shadow: 2px 2px 10px rgba(0,0,0,0.3);  */
    display: block;
    border: 0px solid #47341c;
    border-radius: 17px;
    
    transition: opacity .3s;
}

button:disabled, button:hover {
    opacity: 0.5;
}

#settings {
    width:320px;
    height:470px;
    border-radius: 10px;
    padding: 16px;
    margin: 20px;
    background-color: #8399b6;
    border: 2px solid #0d1c2256;
    box-shadow: 2px 2px 10px rgba(9, 88, 94, 0.5); 
}

#canvasDiv{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

canvas {
    border-radius: 10px;
    background-color: #7f6b81;
    border: 3px solid #0d1c22d2;
    box-shadow: 2px 2px 10px rgba(42, 6, 56, 0.5); 
    
    display: block;
    margin: 10px auto;
    width: 800px;
}

#vertex {
    background-color: black;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 100%;
    display: inline-block;
}

#input, #population, #childs, #mutation, #fullGraphBox {
    border-radius: 10px;
    background-color: #264d59;
    padding: 10px;
    margin: 15px;
    color: #ebf5f4;
}

#inputRange, #populationRange, #childsRange, #mutationRange {
    -webkit-appearance: none;
    background-image: linear-gradient(#101f24, rgb(13, 24, 29));
    background-size: 70% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 7px;
    width: 200px;
    border: 2px solid #091013;
}

#inputRange{
    background-size: 100% 100%;
}

#populationRange, #childsRange {
    background-size: 70% 100%;
}

#mutationRange {
    background-size: 70% 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #091013;
    cursor: ew-resize;
 }
  
#counter, #populationCounter, #childsCounter, #mutationCounter {
    width: 60px;
    float:right;
}

#rangeLabel {
    width: 316px;
    top: 0px;
    float: left
}