html {
    padding: 16px;
    background-color: #f9f6ee;
}

#canvasKMeans, #canvasDBSCAN, #canvas3 {
    display: block;
    background-color: #ceccc6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.button {
    height: 30px;
    width: 200px;
    margin: 5px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.chooseBar{
    width: 30%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

canvas{
    margin: 5px;
}

.startAlgorithms {
    background-color: red;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 1);
  }