body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
    background-image: radial-gradient(circle at center, #f0f0f0, #afb1ad);
}

canvas{
    margin: 5px;
}

.secondCanvas, .firstCanvas, .thirdCanvas {
    margin: 0px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #0f0903;
}

#canvasKMeans, #canvasDBSCAN, #canvas3 {
    display: block;
    background-color: #ceccc6;
    border-radius: 10px;
    border: 2px solid #252525;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#logo {
    width: 100%;
    margin: 0px auto 40px auto;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrapper label {
    margin-left: 10px;
}

.button:disabled, .button:hover {
    opacity: 0.5;
}

.startAlgorithms {
    margin: auto;
    background-color: rgb(180, 38, 38);
    color: rgb(240, 235, 235);
    font-weight: 700;
    font-size: 24px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: none;
    cursor: pointer;
    /* box-shadow: 0px 0px 10px 0px rgba(180, 38, 38, 1); */
    border: 3px solid #911616c7;
}

.startAlgorithms:disabled, .startAlgorithms:hover {
    opacity: 0.5;
}

.button{
    cursor: pointer;
    height: 40px;
    width: 200px;

    font-size: 16px;

    text-align: center;

    margin: 10px 10px;
    padding: auto;
    background-color: #ceccc6;
    color: rgb(19, 19, 19);

    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
    display: block;
    border: 1px solid #2c2a23ef;
    border-radius: 17px;
}

.chooseBar{
    margin: auto 20px auto 0px;
    display: block;
}

.settings{
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toolbar{
    display: flex;
    min-width: 440px;
    margin: 5px 20px;
    justify-content: center;
    background-color: #e0e0df;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3b3b3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.settingsBars{
    min-width: 440px;
    background-color: #e7e7e5;
    margin: 5px 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3b3b3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#rangeRadius, #rangePoints, #rangeKMeans, #rangeHierarchical {
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background-color: #ceccc6;
    outline: none;
}

#rangeRadius::-webkit-slider-thumb,
 #rangePoints::-webkit-slider-thumb,
  #rangeKMeans::-webkit-slider-thumb,
   #rangeHierarchical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #252525;
    background-color: #2c2a23;
    cursor: pointer;
}

.start {
    display: flex;
}

.distanceBlock{
    text-align: center;
    margin: auto;
}

#distanceBox {
    font-size: 14px;
    border: 1px solid #1d1c1c;
    border-radius: 5px;
    background-color: #ceccc6;
    color: #1d1c1c;
}
  
  #distanceBox option {
    font-size: 14px;
    background-color: #ceccc6;
    color: #1d1c1c;
}

  
.kMeansBar, .dbscanBar, .hierarchicalBar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 20px;
}

.kMeansBar div, .dbscanBar div, .hierarchicalBar div{
    display: flex;
    align-items: center;
    min-width: 400px;
}

.generalBar {
    margin: 5px 20px 20px 20px;
}