html {
    padding: 16px;
    background-color: #f9f6ee;
}

#name {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #ff6b6b, #3a7bd5);
    background-clip: text;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

#findPathButton {
    background-color: forestgreen;
}

#clearButton {
    background-color: crimson;
}

button {
    height: 50px;
    width: 300px;
    margin: 5px;
}

canvas {
    border-radius: 10px;
    background-color: #ceccc6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#vertex {
    background-color: black;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 100%;
    display: inline-block;
}

#input {
    width: 590px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#inputRange, #iterationRange, #rhoRange  {
    width: 200px;
}

#counter, #counterIteration, #counterRHO {
    display: block;
    width: 60px;
    float: right;
}

#rangeLabel, #iterationLabel, #rhoLabel, #linesLable {
    width: 316px;
    top: 0px;
    float: left
}