body {
    padding: 16px;
    background-image: radial-gradient(circle at 50% 50%, #c5d5db, #9ec7d6d5);
    /* background-color: #C6DAE1; */
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    min-width: 500px;
}

.container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin: 15px;
}

.container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}

ul {
    padding: 0px;
}

li {
    margin-right: auto;
    margin-left: auto;
}

#fileInput {
    visibility: collapse;
}

#fileInputButton{
    font-size: 16px;
    text-align: center;
    display: block;
    width: 200px;
    height: 40px;
    padding-top: 7px;
    left: 0px;
    margin-left: -8px;
    margin-top: -4px;
    line-height: 28px;
}

#firstRowButtons, #secondRowButtons {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

button {
    display: inline-block;
    
    border-radius: 10px;
    background: #2f7f81;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    font-family: Montserrat;
    color: rgb(246, 250, 250);
    width: 200px;
    height: 40px;
    margin: 16px;
    border: 2px solid rgb(10, 18, 19);
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#userInput {
    width: 200px;
    height: 34px;
    margin: 16px;
    font-size: 16px;
    text-align: center;
    border: 2px solid rgb(10, 18, 19);
    border-radius: 10px;
}

#tree {
    overflow: auto;
    padding: 16px;
    background-color: #e3edf0;
    border-radius: 10px;
    border: 3px solid rgb(10, 18, 19);
    box-shadow: 2px 2px 15px #2f808169;
    width: 1000px;
    height: 500px;
    min-width: 400px;
    min-height: 300px;
    margin: 10px 20px;
    display: block;
}

#tree:hover {
    cursor: pointer;
}
#root {
    zoom: 2;
}

#tree ul {
    display: flex;
    white-space: nowrap;
	padding-top: 20px; 
    position: relative;
}

#tree li {
	float: left; 
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0px 0px;
}

#tree li::before, #tree li::after{
	content: '';
	position: absolute; 
    top: 0;
    right: 50%;
	border-top: 1px solid rgb(37, 37, 37);
	width: 50%; 
    height: 23px;
}

#tree li::after{
	right: auto; 
    left: 50%;
	border-left: 1px solid rgb(37, 37, 37);
}

#tree li:only-child::after, #tree li:only-child::before {
	display: none;
}

#tree li:only-child{ 
    margin-top: -25px;
}

#tree li:first-child::before, #tree li:last-child::after{
	border: none;
}

#tree li:last-child::before{
	border-right: 1px solid rgb(37, 37, 37);
	border-radius: 0 5px 0 0;
}

#tree li:first-child::after{
	border-radius: 5px 0 0 0;
}

#tree ul ul::before{
	content: '';
	position: absolute; 
    top: 0; 
    left: 50%;
	border-left: 1px solid rgb(37, 37, 37);
	width: 0; 
    height: 20px;
}

#tree li span{
    background: whitesmoke;
	border: 1px solid rgb(37, 37, 37);
    min-width: 70px;
    max-width: min-content;
    padding-top: 5px;
    height: 10px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 6px;
	display: inline-block;
	border-radius: 3px;
    border: 1px solid rgb(37, 37, 37);
}