body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
}

.about {
    padding: 80px 0;
    font-size: 30px;
    height: 100%;
    margin: auto;
}

.mainList {
    width: 100%;
    height: max-content;
    min-height: 1000px;
    display: flex;
    background-color: #f9f6ee;
}

.header {
    width: 100%;
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    background-color: #ceccc6;
    padding-bottom: 15px;
}

.headerInner {
    width: 1500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
}

.photo {
    width: 400px;
    height: 200px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.45);
    margin: 0px 10px;
}

.we {
    display: flex;
    justify-content: space-between;
}

.navLink {
    display: inline-block;
    font-weight: 600;
    color: #4c4941;
    opacity: 0.9;
    text-decoration: none;
    margin: 0px 25px;
    position: relative;
    transition: color .1s linear;
    transition: opacity .1s linear;
}

.navLink:after, .active:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #0c0c0a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;

    transition: opacity .2s linear;
}

.navLink:hover, .active {
    opacity: 1;
    color: #0c0c0a;
}

.navLink:hover:after, .active:after {
    opacity: 1;
}

.section {
    padding: 40px 0;
    font-size: 30px;
    background-color: #fff;
    border-bottom: 2px solid #414040;
}

.miniTitle {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.repositories {
    font-weight: 600;
    text-decoration: none;
    color: #0c0c0a;
}