body {
    padding: 16px;
    background:
      radial-gradient(circle at 50% 0,
      #a6a8cf,
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
      #b5cef5,
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
      #dbcce7,
        rgba(0,255,0,0) 70.71%) beige;

        font-family: 'Montserrat', 'sans-serif';
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#name {
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    color: rgb(1, 1, 8);
}

.navBase {
    white-space: nowrap;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(10, 10, 226);
}

#buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

button {
    height: 50px;
    width: 300px;
    margin: 5px;
}

canvas {
    border-radius: 10px;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}